.servicesList {
  color: #fff;
  padding: 0 17px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.servicesList li {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 10px;
}

.additionalInfo {
  color: #fff;
  text-align: center;
}

@media (min-width: 768px) {
  .info,
  .additionalInfo {
    font-size: 28px;
  }

  .additionalInfo {
    margin-top: 50px;
  }
}

@media (min-width: 1024px) {
  .info,
  .additionalInfo {
    font-size: 32px;
  }

  .additionalInfo {
    margin-top: 100px;
  }
}

@media (min-width: 1200px) {
  .servicesList {
    padding: 0 50px;
  }

  .info,
  .additionalInfo {
    font-size: 19px;
  }

  .additionalInfo {
    padding-bottom: 50px;
  }
}
