.destopHeaderWrapper {
  font-weight: normal;
  letter-spacing: 2px;
  width: 300px;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000;
  height: 100%;
}

.desktopLogoImg {
  display: block;
  margin: auto;
  max-width: 250px;
  padding-top: 50px;
  margin-bottom: 100px;
}

.desktopNavList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 0 130px 40px;
  max-width: 810px;
}

.desktopNavList li {
  margin-bottom: 20px;
}

.desktopNavItem {
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  transition: 0.3s ease-in-out;
}

.desktopNavItem:hover {
  color: #606060;
}

.socialLinkWrapper {
  padding-left: 40px;
}

.link {
  fill: #fff;
  transition: fill 500ms;
}

.socialLink {
  width: 20px;
  height: 20px;
}

.link:first-child {
  margin-right: 5px;
}

.link:first-child:hover {
  fill: #e1306c;
}

.link:nth-child(2):hover {
  fill: #4267b2;
}
