.basicCourseWrapper {
  color: #fff;
  padding: 0 15px 30px 15px;
}

.basicCourseWrapper h3 {
  text-align: center;
  margin-bottom: 30px;
  color: #ffefd5;
  text-transform: uppercase;
}

.basicCourseWrapper p {
  margin-bottom: 20px;
}

.basicCourseWrapper ul {
  list-style: none;
  padding-bottom: 30px;
}

.basicCourseWrapper ul li {
  padding-bottom: 10px;
}

.basicCourseWrapper button {
  border: 1px #000 solid;
  border-radius: 5px;
  padding: 10px;
  background-color: #272727;
  display: block;
  margin: auto;
  margin-top: 20px;
  color: #fff;
  text-transform: uppercase;
}

.signUpLink {
  text-decoration: none;
}

@media (min-width: 768px) {
  .basicCourseWrapper h3 {
    font-size: 24px;
  }

  .basicCourseWrapper p {
    font-size: 18px;
  }

  .basicCourseWrapper ul li {
    font-size: 18px;
  }

  .basicCourseWrapper button {
    font-size: 22px;
    padding: 15px;
  }
}

@media (min-width: 1024px) {
  .basicCourseWrapper h3 {
    font-size: 30px;
  }

  .basicCourseWrapper p {
    font-size: 24px;
  }

  .basicCourseWrapper ul li {
    font-size: 24px;
  }

  .basicCourseWrapper button {
    font-size: 24px;
    padding: 16px;
  }
}

@media (min-width: 1200px) {
  .basicCourseWrapper h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #000;
    text-transform: uppercase;
  }

  .basicCourseWrapper {
    padding-left: 400px;
    padding-right: 400px;
    background-color: #ffe6c0;
    color: #000;
  }

  .basicCourseWrapper h3 {
    font-size: 20px;
  }

  .basicCourseWrapper p {
    font-size: 16px;
  }

  .basicCourseWrapper ul li {
    font-size: 16px;
  }

  .basicCourseWrapper button {
    font-size: 16px;
    padding: 16px;
  }
}
