.portfolioWrapper {
  padding: 15px;
  list-style: none;
}

@media (min-width: 768px) {
  .portfolioWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
}

@media (min-width: 1200px) {
  .portfolioBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #606060;
  }

  .portfolioWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-left: 300px;
    /* background-color: #404040; */
  }
}
