.portfolioWrapper {
  padding: 15px;
  list-style: none;
}

@media (min-width: 768px) {
  .portfolioWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

@media (min-width: 1200px) {
  .portfolioWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-left: 300px;
    /* background-color: #404040; */
    background-color: #ffe6c0;
  }
}
