.expressCourseWrapper {
  color: #fff;
  padding: 0 15px 30px 15px;
}

.expressCourseWrapper h3 {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
}

.expressCourseWrapper p {
  margin-bottom: 20px;
}

.expressCourseWrapper ul {
  list-style: none;
  padding-bottom: 30px;
}

.expressCourseWrapper ul li {
  padding-bottom: 10px;
}

.expressCourseWrapper button {
  border: 1px #000 solid;
  border-radius: 5px;
  padding: 10px;
  background-color: #272727;
  display: block;
  margin: auto;
  margin-top: 20px;
  color: #fff;
  text-transform: uppercase;
}

.signUpLink {
  text-decoration: none;
}

@media (min-width: 768px) {
  .expressCourseWrapper h3 {
    font-size: 24px;
  }

  .expressCourseWrapper p {
    font-size: 18px;
  }

  .expressCourseWrapper ul li {
    font-size: 18px;
  }

  .expressCourseWrapper button {
    font-size: 22px;
    padding: 15px;
  }
}

@media (min-width: 1024px) {
  .expressCourseWrapper h3 {
    font-size: 30px;
  }

  .expressCourseWrapper p {
    font-size: 24px;
  }

  .expressCourseWrapper ul li {
    font-size: 24px;
  }

  .expressCourseWrapper button {
    font-size: 24px;
    padding: 16px;
  }
}

@media (min-width: 1200px) {
  .expressCourseWrapper {
    padding-left: 400px;
    padding-right: 400px;
    background-color: #606060;
    color: #fff;
  }

  .expressCourseWrapper h3 {
    font-size: 20px;
  }

  .expressCourseWrapper p {
    font-size: 16px;
  }

  .expressCourseWrapper ul li {
    font-size: 16px;
  }

  .expressCourseWrapper button {
    font-size: 16px;
    padding: 16px;
  }
}
