.buttonUpWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.buttonUpWrapper p {
  color: #ffffff;
  font-size: 55px;
  height: 100%;
}

@media (min-width: 768px) {
  .buttonUpWrapper {
    width: 100px;
    height: 100px;
    bottom: 20px;
    right: 20px;
  }

  .buttonUpWrapper p {
    font-size: 80px;
  }
}
