.overlay {
  width: 100vw;
  height: 100vh;
  background-color: #33373ac5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.modal img {
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bntsNavigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bntsNavigation button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 30px;
  padding: 20px;
}

.bntsNavigation button:first-child {
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .modal img {
    max-height: 900px;
  }
}

@media (min-width: 1024px) {
  .modal img {
    max-height: 1200px;
  }
}
