.buttonToggle {
  padding-top: 15px;
  font-family: "PF Din";
  font-size: 18px;
  font-weight: 300;
}

.buttonToggle button {
  display: block;
  margin: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
}

.logoImg {
  max-width: 100%;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .buttonToggle button {
    font-size: 30px;
  }
}
