.homeWrapper {
  list-style: none;
  max-width: 100%;
}

.homeWrapper img {
  max-width: calc(100%);
  min-height: 100vh;
  display: block;
}

.imageCard {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
