.homeWrapper {
  list-style: none;
  max-width: 100%;
}

.homeWrapper div {
  width: 100%;
  /* height: 100vh; */
  height: calc(var(--vh, 1vh) * 100);
  display: block;
}

.imageCard {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

.backGround {
  position: absolute;
  width: 100%;
  /* height: 100vh; */
  height: calc(var(--vh, 1vh) * 100);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  top: 0;
  left: 0;
}

.homeSliderImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1200px) {
  .homeWrapper div {
    width: auto;
  }

  .homeWrapper {
    width: 100%;
  }

  .homeSliderImage {
    background-position: 50% 20%;
  }

  .imageCard {
    margin-left: 300px;
  }
}
