.coursesWrapper {
  padding: 15px;
  list-style: none;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coursesWrapper li {
  margin-bottom: 50px;
  position: relative;
}

.coursesWrapper li:last-child {
  margin-bottom: 0;
}

.coursesWrapper div {
  background-color: rgba(150, 150, 150, 0.62);
  min-width: 95%;
  padding: 20px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coursesWrapper li img {
  max-width: 100%;
}

.coursesWrapper li h4 {
  text-align: center;
  margin-bottom: 10px;
}

.coursesWrapper li button {
  border: 1px #000 solid;
  border-radius: 5px;
  padding: 5px;
  background-color: transparent;
  display: block;
  margin: auto;
  margin-top: 20px;
  color: #fff;
}

.link {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .coursesWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .coursesWrapper li {
    font-size: 22px;
    margin: 0;
  }

  .coursesWrapper li h4 {
    font-size: 22px;
  }

  .coursesWrapper li p {
    font-size: 20px;
  }

  .coursesWrapper li button {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .coursesWrapper li h4 {
    font-size: 30px;
  }

  .coursesWrapper li p {
    font-size: 26px;
  }

  .coursesWrapper li button {
    font-size: 28px;
  }
}

@media (min-width: 1200px) {
  .coursesWrapper {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 300px;
    background-color: #606060;
  }

  .coursesWrapper div {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .coursesWrapper li h4 {
    font-size: 20px;
  }

  .coursesWrapper li p {
    font-size: 16px;
  }

  .coursesWrapper li button {
    font-size: 18px;
  }
}
