.makeupForYourselfCourseWrapper {
  color: #fff;
  padding: 0 15px 30px 15px;
}

.makeupForYourselfCourseWrapper h3 {
  text-align: center;
  margin-bottom: 30px;
  color: #ffefd5;
  text-transform: uppercase;
}

.makeupForYourselfCourseWrapper p {
  margin-bottom: 20px;
}

.makeupForYourselfCourseWrapper button {
  border: 1px #000 solid;
  border-radius: 5px;
  padding: 10px;
  background-color: #272727;
  display: block;
  margin: auto;
  margin-top: 20px;
  color: #fff;
  text-transform: uppercase;
}
