.refreshCourseWrapper {
  color: #fff;
  padding: 0 15px 30px 15px;
}

.refreshCourseWrapper h3 {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
}

.refreshCourseWrapper p {
  margin-bottom: 20px;
  line-height: 20px;
}

.refreshCourseWrapper ul {
  list-style: none;
  padding-bottom: 30px;
}

.refreshCourseWrapper ul li {
  padding-bottom: 10px;
}

.refreshCourseWrapper button {
  border: 1px #000 solid;
  border-radius: 5px;
  padding: 10px;
  background-color: #272727;
  display: block;
  margin: auto;
  margin-top: 20px;
  color: #fff;
  text-transform: uppercase;
}

.signUpLink {
  text-decoration: none;
}

@media (min-width: 768px) {
  .refreshCourseWrapper h3 {
    font-size: 24px;
  }

  .refreshCourseWrapper p {
    font-size: 18px;
    line-height: 25px;
  }

  .refreshCourseWrapper ul li {
    font-size: 18px;
  }

  .refreshCourseWrapper button {
    font-size: 22px;
    padding: 15px;
  }
}

@media (min-width: 1024px) {
  .refreshCourseWrapper h3 {
    font-size: 30px;
  }

  .refreshCourseWrapper p {
    font-size: 24px;
    line-height: 30px;
  }

  .refreshCourseWrapper ul li {
    font-size: 24px;
  }

  .refreshCourseWrapper button {
    font-size: 24px;
    padding: 16px;
  }
}

@media (min-width: 1200px) {
  .refreshCourseWrapper {
    padding-left: 400px;
    padding-right: 300px;
    color: #fff;
  }

  .refreshCourseWrapper h3 {
    font-size: 20px;
  }

  .refreshCourseWrapper p {
    font-size: 16px;
    line-height: 20px;
  }

  .refreshCourseWrapper ul li {
    font-size: 16px;
  }

  .refreshCourseWrapper button {
    font-size: 16px;
    padding: 16px;
  }
}
